table {
  border-collapse: collapse;
  width: 100%;
}

.header-requestFormat,
.header-exampleRequest,
.header-responseFormat,
.header-exampleResponse {
  width: 12%;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(183, 203, 240);
}

.curlyBrace,
.id,
.name,
.director,
.year,
.genre,
.description,
.imgURL,
.director-name,
.director-bio,
.director-birthdate,
.user-name,
.user-birthday,
.user-favorites {
  display: block;
}
